<% provide :title, t("book_list") %>
<h1><%= t "book_list" %></h1>
<div class="row">
  <%= form_tag admin_books_path, method: :get do %>
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: t("search"),
        class: "form-control search-field", autofocus: true %>
    </div>
    <div class="col-md-2">
      <%= select_tag :category_id,
        options_for_select(@categories.map{|c| [c.name, c.id]},
        selected: params[:category_id]), class: "form-control",
        include_blank: t("all_categories") %>
    </div>
    <div class="col-md-2">
      <%= select_tag :author_id,
        options_for_select(@authors.map{|c| [c.name, c.id]},
        selected: params[:author_id]), class: "form-control",
        include_blank: t("all_authors") %>
    </div>
    <div class="col-md-2">
      <%= select_tag :publisher_id,
        options_for_select(@publishers.map{|c| [c.name, c.id]},
        selected: params[:publisher_id]), class: "form-control",
        include_blank: t("all_publishers") %>
    </div>
  <% end %>
</div>

<%= button_to t("add_book"), new_admin_book_path, method: :get,
  class: "btn btn-success" %>
<%= link_to t("excel"), params.except(:host, :port, :protocol).permit!.
  merge(format: "xlsx") %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t "index" %></th>
        <th><%= t "book_title" %></th>
        <th><%= t "category" %></th>
        <th><%= t "author_name" %></th>
        <th><%= t "publisher_name" %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @books %>
    </tbody>
  </table>
  </div>

<%= will_paginate %>
