<div class="row clearfix well">
  <div class="col-md-2 column">
    <img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/" />
  </div>
  <div class="col-md-8 column">
    <blockquote>
      <p>
        <%= @user.name %>
      </p> <%= t "following" %> - <%= @user.following.size %> : <%= t "followed" %> - <%= @user.followers.size %>
    </blockquote>
  </div>
  <div class="col-md-2 column">
    <%= render "follow_form" if logged_in? %>
  </div>
</div>
