<div class="col-md-3" id="leftCol">
  <ul class="nav nav-stacked" id="sidebar">
    <% if current_user.present? && current_user.is_admin? %>
      <li><%= link_to t("manage_book"), admin_books_path %></li>
      <li><%= link_to t("manage_author"), admin_authors_path %></li>
      <li><%= link_to t("manage_publisher"), admin_publishers_path %></li>
      <li><%= link_to t("manage_categories"), admin_categories_path %></li>
      <li><%= link_to t("manage_request"), admin_requests_path %></li>
    <% end %>
    <li><%= link_to t("book"), books_path %></li>
    <li><%= link_to t("author"), authors_path %></li>
    <li><%= link_to t("publisher"), publishers_path %></li>
    <li><%= link_to t("categories"), categories_path %></li>
    <li><%= link_to t("request"), requests_path %></li>
  </ul>
</div>
