<% provide :title, t("user_list") %>
<h1><%= t "user_list" %></h1>
<div class="row">
  <div class="col-md-6">
    <%= form_tag admin_users_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: t("search"),
        class: "form-control search-field" %>
      <div class="input-group-btn search-btn">
        <%= button_tag t("search"), type: :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to t("excel"), params.except(:host, :port, :protocol).permit!.
  merge(format: "xlsx") %>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th><%= t "index" %></th>
      <th><%= t "user_name" %></th>
      <th><%= t "email" %></th>
      <th><%= t "joined_date" %></th>
      <th><%= t "action" %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= will_paginate %>
